{
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true
}
